{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mero Order</title>
    
    <script src="{% static 'assets/js/main.js' %} "></script>
    <script src="{% static 'assets/js/checkout.js' %} "></script>
    <script src="{% static 'assets/js/extension/choices.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cart.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<!--body starts -->
<body>

 <div style="position: fixed;top:0;width: 100%;z-index: 1;">

        <script src="{% static 'assets/js/extension/choices.js' %}"></script>
        <script>
            const choices = new Choices('[data-trigger]', {
                searchEnabled: false,
                itemSelectText: '',
            });

        </script>

        <!--navigation bar starts-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font" href="#">BV LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fruits' %}">Fruits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font" href="{% url 'vegetables' %}">Vegetables</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link font" href="{% url 'about_us' %}">About us</a>
                </li>
                 <li class="nav-item">
{#                    <a class="nav-link font" href="{% url 'about_us' %}">About us</a>#}

                </li>
            </ul>

        </div>

              <div class="cart-button">
                <button type="button" class="btn btn-outline-success cart-letter" data-toggle="modal" data-target="#cart">My cart</button>

            </div>
    </nav>
    </div>


    <!-- wrapper starts -->
    <div class="wrapper" style="margin-top:2%;margin-bottom: 20px;">
        {% block header %}
        {% endblock %}
    </div>
    <!-- wrapper ends -->

 <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Items added in cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-item-display"></h5>
                    <a href="{% url 'cart' %}">View cart</a>
                    <div class="cart-row-headers">
                        <span class="cart-item cart-header cart-column">ITEM</span>
                        <span class="cart-price cart-header cart-column">PRICE</span>
                        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                    </div>
                    <div class="cart-items">
                    </div>
                    <div class="cart-total">
                        <strong class="cart-total-title">Total</strong>
                        <span class="cart-total-price">Rs. <span id="totalPrice">0</span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button style="color: grey;" type="button" class="btn btn-outline-warning"> <a class="cart-color" href="{% url 'checkout' %}">Check out</a></button>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>
     <footer>
        <div class="container-fluid-padding content">
            <div  style="  background-color: #3f3f3f;
        color:white;"  class="row text-center">
                <div class="col-md-6">
                    <hr style="background-color: aliceblue;">
                    Our Contacts
                     <hr style="background-color: aliceblue;">
                    <p>Phone: {{ settings.telephone }}</p>
                    <p>Email: {{settings.email}}</p>
                    <p>{{settings.address}}</p>
                </div>
                <div class="col-md-6">

                    <hr style="background-color: aliceblue;">
                    Our Services
                     <hr style="background-color: aliceblue;">
                    <p>{{settings.serviceOne}}</p>
                    <p> {{settings.serviceTwo}}</p>
                    <p>{{settings.serviceThree}}</p>
                </div>
                <div  class="col-12">
                    <hr style="background-color: aliceblue;">
                    <h5>&copy;{{settings.name}}</h5>
                </div>
            </div>
        </div>
    </footer>

</body>
<!-- body ends -->
<!-- javascript files | Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
    
</script>
</html>
